.bar
  background #17181b
  border-bottom #266fdc
  box-shadow 0px -2px 0px #222222 inset, 0px 3px 3px rgba(0, 0, 0, 0.07)
  h1
    color #ffffff

header
  .icon
    padding-left 10px
    padding-right 10px

a
  &:hover
    text-decoration none